html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
 
body
{
/*background-color: #6EFFCF;*/
background:rgba(50, 238, 252, 0.829);
font-family: "Cedarville Cursive", cursive;
text-align: center;
}
article{
    max-width: 800px;
    margin:auto;
}

ul li{
    list-style-type:none;
}
